[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
wordcloud = "*"
pillow = "*"
matplotlib = "*"
numpy = "*"
dev = "*"

[requires]
python_version = "3.7"
